<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MicroserviceTestSuite">
    <test name="YourTest" preserve-order="true">
        <classes>
<!--            <class name="Tests.LoginTest" />-->
<!--            <class name="Tests.Inspectiontests.CreateAnInspectionTest"></class>-->
<!--            <class name="Tests.Inspectiontests.InspectionApprovalTest" />-->
<!--            <class name="Tests.Inspectiontests.CloseInspectionTest"></class>-->
<!--            <class name="Tests.Inspectiontests.HitTheStreetSurveyTest"></class>-->
<!--            <class name="Tests.Inspectiontests.RemoveInspectionTest"></class>-->
<!--            <class name="Tests.InterestandPenaltyManagementTests.CreateWaiverTest"></class>-->
<!--            <class name="Tests.InterestandPenaltyManagementTests.CalculateInterestRatesTest"></class>-->
            <class name="Tests.InterestandPenaltyManagementTests.IssueSDLTest"></class>
<!--           <class name="Tests.InterestandPenaltyManagementTests.ComputePenaltyTests"></class>-->

            <!-- Add more classes as needed -->
        </classes>
    </test>

    <!-- Additional test configurations (optional) -->
    <parameter name="browser" value="chrome" />
    <parameter name="environment" value="qa" />

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg" />
        <!-- Add more listeners or configurations as needed -->
    </listeners>
</suite>
