<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MicroserviceTestSuite">
    <test name="YourTest" preserve-order="true">
        <classes>
            <class name="tests.LoginTest" />
            <class name="tests.inspectiontests.InspectionApprovalTest" />
<!--            <class name="tests.inspectiontests.CloseInspectionTest"></class>-->
<!--            <class name="tests.inspectiontests.HitTheStreetSurveyTest"></class>-->
            <class name="tests.inspectiontests.RemoveInspectionTest"></class>

            <!-- Add more classes as needed -->
        </classes>
    </test>

    <!-- Additional test configurations (optional) -->
    <parameter name="browser" value="chrome" />
    <parameter name="environment" value="qa" />

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg" />
        <!-- Add more listeners or configurations as needed -->
    </listeners>
</suite>
